@import "@/styles/variables.module.scss";

.work {
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6%;

  h2 {
    margin-top: 0%;
    @include text_style_level_03_normal;
  }
  h3 {
    margin-top: 1%;
    @include text_style_navbar;
  }
  h5 {
    margin-top: 2%;
  }
  .logos {
    display: flex;
    flex-direction: row;
    img {
      max-width: 130px;
      height: auto;
    }
  }
  .education {
    width: 700px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 10px;
  }
}
@media screen and (max-width: 600px) {
  .work {
    display: flex;
    flex-direction: column;
    width: 414px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0%;
    background: rgb(8, 27, 57);
    color: #51617c;
    h2 {
      margin-top: 5%;
      margin-left: 2%;
      @include text_style_subHeading_light_poppins;
    }
    h3 {
      width: 380px;
      margin-top: 1%;
      margin-left: 2%;
      @include text_style_navbar_light;
    }
    h5 {
      margin-top: 2%;
    }
    .education {
      width: 414px;
    }
  }
}
