@import "@/styles/variables.module.scss";

.tech-cards {
  position: relative;

  left: -12%;
  width: 600px;
  height: 690px;
  z-index: 11;
  background-color: #ffff;
  color: #51617c;
  flex-shrink: 0;
  @include text_style_navbar;
  h2 {
    margin-top: 15%;
    @include text_style_level_03_normal;
  }
  .grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px 50px;
    max-width: 1280px;
    height: 710px;
    margin: 0 auto;
    padding-top: 56px;
  }
}
