/* Define the global styles here */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
:root {
  /* Colors */

  /* Sizes */
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif, Archivo, Poppins;
}

img {
  max-width: 100%;
}
